
 

 

<div data-controller="students" class="container">

<% if @student.errors.any? %>

<ul class="text-danger"> 
 

   <% @student.errors.full_messages.each do |msg| %>
   <li> <%= msg %> </li>

   <% end %>



</ul>



<% end %>



<div class="col edit-profile">
 <h3> <%= @student.new_record? ? "Sign Up" : "Edit Profile" %> </h3>
</div>
<%= form_for @student do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name , class: 'form-control' , id: 'studentname', placeholder: 'Enter Name' %>  
    </div>
    <div class="form-group">
       <%= f.label :email %>
       <%= f.email_field :email, class: 'form-control' , id: 'studentemail', placeholder: 'Enter Email' %>  
       </div>

       <% if  @student.new_record? %>
       <div class="form-group">
       <%= f.label :password %>
       <%= f.password_field :password, class: 'form-control' , id: 'studentpass', placeholder: 'Choose Password' %>  
       
    </div>

 

  <% end %>
    <div class="p-2">
    <%= f.submit( @student.new_record? ? "Sign Up" : "Edit Profile",  class: "btn btn-primary") %> 
    </div>
    <% end %>
</div>

  
  

  

  